.jumbotron {
  background: -moz-radial-gradient(top, ellipse cover, #18bc9c 50%, #128f76 100%);
  background: -webkit-radial-gradient(top, ellipse cover, #18bc9c 50%, #128f76 100%);
  background: radial-gradient(ellipse at top, #18bc9c 50%, #128f76 100%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@media (min-width: 992px) {
  .jumbotron {
    background: -moz-radial-gradient(left, ellipse cover, #18bc9c 50%, #128f76 100%);
    background: -webkit-radial-gradient(left, ellipse cover, #18bc9c 50%, #128f76 100%);
    background: radial-gradient(ellipse at left, #18bc9c 50%, #128f76 100%);
    .col-md-6 {
      position: relative;
      top: 50vh;
      transform: translateY(-50%);
    }
  }
}

.btn .glyphicon {
  line-height: 1.5;
}
